name: Check Quality with SonarCloud

on:
  push:
    branches:
      - main
      - develop
      - feature/*
  workflow_run:
    workflows: ["Step Build and Test"]
    types:
      - completed

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check status workflow previous
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        run: echo "Worflow are sucess, next task"
      - name: Other taks
        run: echo "Starting next task"
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Run Test
        run: mvn test

      - name: JaCoCo Report
        uses: madrapps/jacoco-report@v1.6.1
        with:
          paths: 
            ${{ github.workspace }}/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=tech-challenge-team-fiap_tech-challenge-fase4-product
